pkgbase = goducky
	pkgdesc = GoDucky GUI - AI coding agent, desktop edition
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/Go-Ducky/gui
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gtk4
	makedepends = go
	conflicts = goducky-gui-bin
	provides = goducky
	source_x86_64 = goducky-linux-amd64::https://github.com/Go-Ducky/gui/releases/download/v${pkgver}/goducky-linux-amd64
	source_x86_64 = goducky.desktop::https://raw.githubusercontent.com/Go-Ducky/gui/v${pkgver}/packaging/linux/goducky.desktop
	source_x86_64 = goducky.png::https://raw.githubusercontent.com/Go-Ducky/gui/v${pkgver}/packaging/linux/goducky.png
	source_aarch64 = goducky-linux-arm64::https://github.com/Go-Ducky/gui/releases/download/v${pkgver}/goducky-linux-arm64
	source_aarch64 = goducky.desktop::https://raw.githubusercontent.com/Go-Ducky/gui/v${pkgver}/packaging/linux/goducky.desktop
	source_aarch64 = goducky.png::https://raw.githubusercontent.com/Go-Ducky/gui/v${pkgver}/packaging/linux/goducky.png
	sha256sums_x86_64 = REPLACE_WITH_LINUX_AMD64_SHA256
	sha256sums_x86_64 = 98e58c3d245e9ae93c8854aa756a7f6880e732e4d7e5385c18067efe98ab3e3b
	sha256sums_x86_64 = 22afff98cedc9cc051aba69e55af11be41b12a5dbb12e10b304b41fe6500c87c
	sha256sums_aarch64 = REPLACE_WITH_LINUX_ARM64_SHA256
	sha256sums_aarch64 = 98e58c3d245e9ae93c8854aa756a7f6880e732e4d7e5385c18067efe98ab3e3b
	sha256sums_aarch64 = 22afff98cedc9cc051aba69e55af11be41b12a5dbb12e10b304b41fe6500c87c

pkgname = goducky